<ion-header>

  <ion-navbar color="primary">
    <button ion-button clear ion-start (click)="dismiss()">
      <ion-icon color="light" name="arrow-round-back"></ion-icon>
      <ion-title ion-text text-center>{{titulo}}</ion-title>
    </button>
  </ion-navbar>

</ion-header>

<ion-content padding style="background-color: rgb(233, 255, 235)">
  <div *ngFor="let posts of postEuropa">
    <div *ngFor="let post of posts">
      <div *ngFor="let media of postMedia">
        <ion-card *ngIf="post.featured_media == media.id">
          <img [src]="media.source_url" />
          <ion-card-content>
            <p [innerHTML]="post.content.rendered | sanitizeHtml"></p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
  <ion-fab bottom right>
    <button ion-fab mini (click)="scrollTop()"><ion-icon name="arrow-dropup"></ion-icon></button>
  </ion-fab> 
</ion-content>
<!-- <p [innerHTML]="p.content.rendered | sanitizeHtml"></p> -->