<ion-header>

  <ion-navbar color="primary">
    <button ion-button clear ion-start (click)="dismiss()">
      <ion-icon color="light" name="arrow-round-back"></ion-icon>
      <ion-title ion-text text-center>Rutas</ion-title>
    </button>
  </ion-navbar>

</ion-header>

<ion-content style="background-color: rgb(233, 255, 235)">
  <div *ngFor="let p of post">
    <div *ngFor="let m of mediaPost">
      <ion-card *ngIf="p.id == m.post; else alter">
        <img [src]="m.imagen" />
        <ion-card-content>
          <p [innerHTML]="p.content | sanitizeHtml"></p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <ng-template #alter>
    <div *ngFor="let p of post">
      <div *ngFor="let m of mediaPost">
        <ion-card *ngIf="p.featured_media == m.id" >
          <img [src]="m.imagen" />
          <ion-card-content>
            <p [innerHTML]="p.content | sanitizeHtml"></p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ng-template>
  <ion-fab bottom right>
    <button ion-fab mini (click)="scrollTop()"><ion-icon name="arrow-dropup"></ion-icon></button>
  </ion-fab>
</ion-content>
