<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Guia América</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngFor="let po of post">
    <div *ngFor="let me of mediaPostAmerica">
      <ion-card *ngIf="po.id == me.post">
        <img [src]="me.imagen" />
        <ion-card-content>
          <ion-card-title [innerHTML]="po.title"></ion-card-title>
          <p [innerHTML]="po.excerpt"></p>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name='share-alt'></ion-icon>
            Share
          </button>
          <button ion-button clear small color="primary" icon-right (click)="openModal(po.categories)">
              <ion-icon name="open"></ion-icon>
              View
          </button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>