<ion-menu [content]="content" >
  <ion-header >
    <ion-toolbar color="secondary">
      <ion-title text-center>MaletaReady</ion-title>
    </ion-toolbar>
        <button ion-button light full end (click)="sendeEmail()">
          <ion-icon name="mail" right> Contactar</ion-icon>
          <a href="info@maletaredy.com"></a>
        </button>
  </ion-header>

  <ion-content style="background-color: rgb(233, 255, 235)">
    <div padding >
      <ion-segment [(ngModel)]="pet">
        <ion-segment-button value="Asia">
          Asia  
        </ion-segment-button>
        <ion-segment-button value="America">
          America
        </ion-segment-button>
        <ion-segment-button value="Europa">
          Europa
        </ion-segment-button>
        <ion-segment-button value="Africa" [hidden]='true'>
          Africa
        </ion-segment-button>
      </ion-segment>
    </div>
    <div menuClose *ngFor="let p of pages" style="background-color: rgb(233, 255, 235)">
      <div [ngSwitch]="pet" *ngFor="let cat of categoria; let i=index">
        <ion-list *ngSwitchCase="'Asia'" >
          <ion-item *ngIf="cat.catId[0] === 57 && p.slug === 'asia'" [innerHTML]='cat.title' (click)="openModal(cat.categoria)" style="background-color: rgb(233, 255, 235)">
            <ion-thumbnail item-start>
              <!-- <img src="img/thumbnail-puppy-1.jpg"> -->
            </ion-thumbnail>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'America'">
          <ion-item *ngIf="cat.catId[0] === 58 && p.slug === 'america'" [innerHTML]='cat.title' (click)="openModal(cat.categoria)" style="background-color: rgb(233, 255, 235)">
            <ion-thumbnail item-start>
              <!-- <img src="img/thumbnail-puppy-1.jpg"> -->
            </ion-thumbnail>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'Europa'">
          <ion-item *ngIf="cat.catId[0] === 60 && p.slug === 'europa'" [innerHTML]='cat.title' (click)="openModal(cat.categoria)" style="background-color: rgb(233, 255, 235)">
            <ion-thumbnail item-start>
              <!-- <img src="img/thumbnail-puppy-1.jpg"> -->
            </ion-thumbnail>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'Africa'">
          <ion-item *ngIf="cat.catId[0] === 59 && p.title === 'Africa'" [innerHTML]='cat.title' (click)="openModal(cat.categoria)" style="background-color: rgb(233, 255, 235)">
            <ion-thumbnail item-start>
              <!-- <img src="img/thumbnail-puppy-1.jpg"> -->
            </ion-thumbnail>
          </ion-item>
        </ion-list>
      </div>
    </div>

  </ion-content>


</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
