<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Guia Asia</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background-color: rgb(233, 255, 235)">
  <ion-slides>
    <ion-slide *ngFor="let po of post">
        <ion-badge color="primary" [innerHTML]="po.title.rendered"></ion-badge>
    </ion-slide>
  </ion-slides>
  <div *ngFor="let po of post">
    <div *ngFor="let media of mediaPostAsia">
      <ion-card *ngIf="po.featured_media == media.id">
        <img #titulo [src]="media.source_url" (click)="openModal(po.categories)" />
        <ion-card-content>
          <ion-card-title [innerHTML]="po.title.rendered"></ion-card-title>
          <p [innerHTML]="po.excerpt.rendered | sanitizeHtml"></p>
          <ion-fab buttom left edge #fab1>
            <button ion-fab mini><ion-icon name="share"></ion-icon></button>
            <ion-fab-list side="right">
              <button color="primary" ion-fab (click)="openSocial('facebook', fab1)"><ion-icon name="logo-facebook"></ion-icon></button>
              <button color="primary" ion-fab (click)="openSocial('twitter', fab1)"><ion-icon name="logo-twitter"></ion-icon></button>
              <button color="primary" ion-fab (click)="openSocial('vimeo', fab1)"><ion-icon name="logo-vimeo"></ion-icon></button>
              <button color="primary" ion-fab (click)="openSocial('googleplus', fab1)"><ion-icon name="logo-googleplus"></ion-icon></button>
            </ion-fab-list>
          </ion-fab>
          <ion-icon ion-item name="star"></ion-icon>

        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-fab bottom right>
    <button ion-fab mini (click)="scrollTop()"><ion-icon name="arrow-dropup"></ion-icon></button>
  </ion-fab>

</ion-content>